@{
    ViewBag.Title = "Calculator";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Calculator</h2>
            <form id="calculatorForm" method="post">
                <div class="row">
                    <div class="form-group">
                        X
                        <input type="text" name="firstNumber" value="@ViewBag.firstNumber" />
                    </div>
                    <div class="form-group">
                        Y
                        <input type="text" name="secondNumber" value="@ViewBag.secondNumber" />
                        <br>
                        <input type="radio" name="calc" value="+" />
                        Сложение
                        <br />
                        <input type="radio" name="calc" value="-" />
                        Вычитание
                        <br />
                        <input type="radio" name="calc" value="*" />
                        Умножение
                        <br />
                        <input type="radio" name="calc" value="/" />
                        Деление
                        <br />
                    </div>

                        <div class="form-group">
                            <input type="submit" value="Calculate" />
                        </div>
                    </div>

                <div class="table">
                    @(DateTime.Now.ToString("dd MMMM yyyy | HH:mm:ss"))  @ViewBag.firstNumber @ViewBag.calc @ViewBag.secondNumber  Result: @ViewBag.result
                </div>
            </form>
        </div>
    </div>
</div>